<% layout("../layout") %>

<div class="container">
    <div class="row">

        <div class="jumbotron">
            <div class="container">
                <p>Gizlilik Politikamız ve Kişisel Verilere İlişkin Aydınlatma Metni</p>
                <p><a name="_GoBack"></a>Veri Sorumlusu: HALİL İBRAHİM AKCA</p>
                <p>Veri sorumlusu olarak şirketimiz, m&uuml;şterilerimiz, t&uuml;keticilerimiz ve &ccedil;alışanlarımız
                    d&acirc;hil</p>
                <p>Şirketimiz ile ilişkili şahısların tarafımızda bulunan kişisel verilerinin T&uuml;rkiye</p>
                <p>Cumhuriyeti Anayasası ve insan haklarına ilişkin &uuml;lkemizin tarafı olduğu uluslararası</p>
                <p>s&ouml;zleşmeler ile 6698 sayılı Kişisel Verilerin Korunması Kanunu (&ldquo;KVKK&rdquo;) başta olmak
                </p>
                <p>&uuml;zere ilgili mevzuat &ccedil;er&ccedil;evesinde; g&uuml;vence altına alınması ve işlenmesi
                    konusuna</p>
                <p>hassasiyetle yaklaşmaktayız.</p>
                <p>Bu &ccedil;er&ccedil;evede, KVKK kapsamında Veri Sorumlusu sıfatıyla sizleri aydınlatmak</p>
                <p>istiyoruz.</p>
                <p>Şirketimiz ile m&uuml;şteri, t&uuml;ketici, tedarik&ccedil;i veya &ccedil;alışan sıfatı ile
                    paylaştığınız kişisel</p>
                <p>verileriniz KVKK&rsquo; ya uygun şekilde, faaliyet ve hizmet ama&ccedil;larımız ile bağlantılı ve</p>
                <p>&ouml;l&ccedil;&uuml;l&uuml; olarak işlenebilecek, yurt i&ccedil;i ve yurt dışındaki
                    &uuml;&ccedil;&uuml;nc&uuml; kişilere aktarılabilecek,</p>
                <p>saklanabilecek, profilleme i&ccedil;in kullanılabilecek ve sınıflandırılabilecektir.</p>
                <p>Kişisel Verilerinizin İşlenme Amacı</p>
                <p>Kişisel verileriniz;</p>
                <p>1. Hukuka ve d&uuml;r&uuml;stl&uuml;k kuralının &ouml;ng&ouml;rd&uuml;ğ&uuml; bi&ccedil;imde,</p>
                <p>2. İşlenme ama&ccedil;ları ile bağlantılı, sınırlı ve &ouml;l&ccedil;&uuml;l&uuml; olarak,</p>
                <p>3. Doğru ve g&uuml;ncel olarak,</p>
                <p>4. Belirli a&ccedil;ık ve meşru ama&ccedil;lar ile</p>
                <p>işlenecektir.</p>
                <p>Veri sorumlusu olarak Şirketimiz tarafından kişisel verileriniz, sizleri daha iyi tanıyarak</p>
                <p>ihtiya&ccedil;larınızı anlamak, isteklerinize daha hızlı cevap verebilmek ve sizlerle olan</p>
                <p>iletişimimizi geliştirerek sizlere daha iyi hizmet vermek ve daha kişisel &uuml;r&uuml;n, hizmet ve
                </p>
                <p>teklif sunabilmek, bunları yapabilmek i&ccedil;in analiz yapmak, sizleri &uuml;r&uuml;n ve
                    hizmetlerimiz</p>
                <p>hakkında bilgilendirebilmek, &uuml;r&uuml;n ve hizmetlerimiz hakkında memnuniyetinizi
                    &ouml;l&ccedil;mek,</p>
                <p>istekleriniz ve ihtiya&ccedil;larınız doğrultusunda &uuml;r&uuml;n ve hizmetlerimizi geliştirmek ve
                </p>
                <p>&ccedil;eşitlendirmek i&ccedil;in ve bunlarla birlikte gerekli kalite ve standart denetimlerimizi</p>
                <p>yapabilmek ya da mevzuat tarafından &ouml;ng&ouml;r&uuml;len raporlama ve sair</p>
                <p>y&uuml;k&uuml;ml&uuml;l&uuml;klerimizin yerine getirilmesi gibi ama&ccedil;lar i&ccedil;in
                    işlenebilecektir.</p>
                <p>&Ccedil;alışanlarımızın verileri, İş Kanunu ve &ccedil;alışma ve sosyal g&uuml;venlik mevzuatı ile
                </p>
                <p>y&uuml;r&uuml;rl&uuml;kte olan diğer mevzuatın &ouml;ng&ouml;rd&uuml;ğ&uuml; zorunlulukların yanı
                    sıra iş g&uuml;venliği ve iş</p>
                <p>barışının sağlanması gibi işletmesel nedenler ile Şirketimiz veya Şirketimizin işbirliği</p>
                <p>yaptığı veya yetkilendirdiği ger&ccedil;ek veya t&uuml;zel kişiler tarafından işlenebilecektir.</p>
                <p>Kişisel Verilerinizin Aktarılması</p>
                <p>Kişisel verileriniz yukarıda sayılan ama&ccedil;lar d&acirc;hilinde, KVKK ve
                    y&uuml;r&uuml;rl&uuml;kte olan</p>
                <p>mevzuata uygun olarak, iş ortaklarımız, iş bağlantılarımız, ifa yardımcılarımız ve alt</p>
                <p>y&uuml;klenicilerimiz ile sunduğumuz hizmetin amacı doğrultusunda ya da d&uuml;zenleyici</p>
                <p>denetleyici kurumlar ve resmi mercilerle ilgili mevzuatın &ouml;ng&ouml;rd&uuml;ğ&uuml; durumlarda
                    yurt</p>
                <p>i&ccedil;ine veya yurt dışına aktarılabilecektir.</p>
                <p>Kişisel Verilerinizin Toplanma Y&ouml;ntemi ve Hukuki Sebebi</p>
                <p>Kişisel verileriniz, yukarıda belirtilen ama&ccedil; ve kapsamda s&ouml;zl&uuml;, yazılı veya
                    elektronik</p>
                <p>olarak toplanabilir.</p>
                <p>Kişisel verileriniz, Şirketimiz veya Şirketimiz adına veri işleyen ger&ccedil;ek ya da t&uuml;zel</p>
                <p>kişiler tarafından sayılanlarla sınırlı olmamak &uuml;zere, elektronik olarak doldurduğunuz</p>
                <p>&uuml;yelik formu ve Şirketimiz ile imzalamış olduğunuz muhtelif s&ouml;zleşmeler ile</p>
                <p>Şirketimize g&ouml;ndermiş olduğunuz elektronik postalar, faks ve mektuplar gibi ara&ccedil;lar</p>
                <p>&uuml;zerinden, Şirketimiz ile yapılan yazılı veya s&ouml;zl&uuml; iletişimler vb. kanallar
                    aracılığıyla</p>
                <p>s&ouml;zl&uuml;, yazılı veya elektronik ortamda toplanmaktadır.</p>
                <p>Kişisel Veri Sahibi Olarak Haklarınız</p>
                <p>KVKK ve y&uuml;r&uuml;rl&uuml;kte bulunan diğer mevzuat &ccedil;er&ccedil;evesinde kalmak kaydıyla,
                </p>
                <p>1. Kişisel verilerinizin işlenip işlenmediğini &ouml;ğrenme,</p>
                <p>2. Kişisel verileriniz işlenmişse buna ilişkin bilgi talep etme,</p>
                <p>3. Kişisel verilerin işlenme amacını ve bunların amacına uygun kullanılıp</p>
                <p>kullanılmadığını &ouml;ğrenme,</p>
                <p>4. Yurt i&ccedil;inde veya yurt dışında kişisel verilerinizin aktarıldığı
                    &uuml;&ccedil;&uuml;nc&uuml; kişileri</p>
                <p>bilme,</p>
                <p>5. Kişisel verilerinizin eksik veya yanlış işlenmiş olması halinde bunların</p>
                <p>d&uuml;zeltilmesini isteme,</p>
                <p>6. KVKK mevzuatında &ouml;ng&ouml;r&uuml;len şartlar &ccedil;er&ccedil;evesinde kişisel verilerinizin
                </p>
                <p>silinmesini veya yok edilmesini isteme,</p>
                <p>7. Eksik veya yanlış verilerin d&uuml;zeltilmesi ile kişisel verilerinizin silinmesi veya</p>
                <p>yok edilmesini talep ettiğinizde, bu durumun kişisel verilerinizin aktarıldığı</p>
                <p>&uuml;&ccedil;&uuml;nc&uuml; kişilere bildirilmesini isteme,</p>
                <p>8. İşlenen verilerin m&uuml;nhasıran otomatik sistemler vasıtasıyla analiz edilmesi</p>
                <p>suretiyle aleyhinize bir sonucun ortaya &ccedil;ıkmasına itiraz etme,</p>
                <p>9. Kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğramanız</p>
                <p>halinde bu zararın giderilmesini talep etme,</p>
                <p>haklarına sahipsiniz. Bu haklarınızı kullanmak ile ilgili talebinizi yazılı olarak veya</p>
                <p>Kişisel Verileri Koruma Kurulu tarafından ayrı bir y&ouml;ntem belirlenmesi halinde bu</p>
                <p>y&ouml;nteme uygun olarak veri sorumlusu olarak Şirketimize iletebilirsiniz.</p>
                <p>Belirtilen haklarınız kapsamında taleplerinizi, yazılı olarak veya kayıtlı elektronik</p>
                <p>posta (KEP) adresi, g&uuml;venli elektronik imza, mobil imza ya da daha &ouml;nce bize</p>
                <p>bildirdiğiniz ve sistemimizde kayıtlı bulunan elektronik posta adresiniz var ise</p>
                <p>elektronik posta adresinizi kullanmak suretiyle bilgi@ertansinansahin.com mail</p>
                <p>adresine iletebilirsiniz.</p>
                <p>Başvurunuz KVKK&rsquo;da &ouml;ng&ouml;r&uuml;len ilgili h&uuml;k&uuml;mler doğrultusunda
                    cevaplandırılacak olup</p>
                <p>başvuru sahibinin, ilgili kişi olduğunun teyit edilmesi amacıyla şirketimiz sizden bazı</p>
                <p>doğrulayıcı bilgiler talep edebilecektir; bu bilgiler yalnızca ilgili kişinin kimliğinin tespit</p>
                <p>edilmesi ve başvuru sonu&ccedil;larının doğru kişiyle paylaşılması adına talep edilecektir.</p>
            </div>
        </div>

    </div>
</div>