<% layout("../layout") %>

<div class="container">
    <div class="row">
        <br>
        <div class="container">
            <div class="col-md-6">
                <h2><b>Selam,Akca hocanız kimdir ?</b></h2> <br>
                <b>Akca Eğitim’de neler yapıyoruz ?</b><br>
                Kısaca kendimizi size anlatmak istiyoruz.Orta Doğu Teknik Üniversitesi ve Boğaziçi Üniversitesinde
                eğitim aldıktan sonra bu üniversiteleri bırakıp tamamen kendimi matematiğe ve eğitime adadım.2019'da
                teknolojiyi ve dünyayı takip
                edebilmek Türkiye Derecesi yapmış arkadaşlarla çeşitli projelerde yer almak, yalnızca YKS sınavında
                değil hayatta da başarılı olabilecek arkadaşlarımı bulabilmek adına tekrar Boğaziçi Üniversitesine sizin
                tabirinizle ilk bine girerek yerleştim.Dünya standartlarında eğitim içerikleriyle sınav sürecinde
                ve hayata olan hazırlıkta kendi rehberiniz olarak içsel motivasyonunuzu diri tuttuğunuz bir platform
                kurmak tek amacımız.Matematik adına ezberleyen değil bilen olmak ve gerçekten ben Matematik
                yapabiliyorum diyen bir nesil yaratmakta tek hayalimiz.Buradaki video eğitim ve kitaplar sizlere “yeni
                nesil” tüm kazanımları kavratacak ve konuyu en iyi şekilde öğreneceksiniz.Sınavda başarılı olmanız için
                gereken ne varsa bu videolarda size anlattık.Hepinize başarılar dileriz.
            </div>
        </div>

        <br><br>
    </div>
</div>