<% layout("../layout") %>

<div class="container">
    <div class="row">
        <br>
        <div class="container" style="display: flex; flex-direction: row;">
            <div class="col-md-6" style=" flex:2">
                <h3>Selam,Ben İbrahim Akca </h3>
                <br>
                <p>Size biraz kendimden ve yaptığımız işlerden bahsetmek istiyorum. Doğma büyüme Ankaralıyım,İlkokul ortaokul ve liseyi Ankara’da okudum daha sonra üniversite sınavında almış olduğum puanlar neticesinde Orta Doğu Teknik Üniversitesi Çevre Mühendisliğini ve daha sonra Boğaziçi Üniversitesi Sosyoloji Bölümlerini kazandım.Bu okullarda  eğitimim hep yarıda kaldı çünkü her zaman asıl alanım dışında işlerle daha çok meşgul oldum Tiyatro,Yazarlık,Matematik vs...</p>
                <p>Matematiğe olan yatırımımız ve çabamızın nedeni hem konuların anlatım şekli ve sırası bir de sınavda sorulan sorular üzerinden “bizce” yapılan hatalardan kaynaklıydı .Daha sonra “yeni nesil” sorulara geçildiğinde bu işte olmamızın tam zamanı dedik ve 2017 yılında 3000 , 2018 yılında 6000 ve 2019 yılında 10000 öğrenciye ders verdik.2020 yılı itibariyle açmış olduğum Akca Eğitim YouTube Kanalı sayesinde onbinlerce kişi bizimle ders çalıştı.Biz de bu içeriklerimizi sorularımızı konu anlatımlarımızı kitaplaştırdık ve nihayetinde sizlerle buluşma fırsatını yakaladık.Şimdi bu işe instagramda 2016’da başladığımızdan çok daha büyük bir ekiple devam ediyoruz onlarca yazar,dizgi,tasarım,tashih kurulu,genel koordinatör ve daha niceleriyle yüz kişiyi aşkın bir ekip olduk.Bunun sonucunda tek amacımız sizlerin hayalini kurduğu üniversiteyi kazanma yolculuğunda en çok verim alacağınız kaynakları üretmek ve en anlaşılır haliyle sizlere ders içeriklerimizi sunmak.</p>
                <br>
                <small>İbrahim Akca</small>
            </div>
            <div class="col-md-6" style="flex: 2;">
                <br><br><br>
                <img src="../../hakki.png" class="img-responsive" style="object-fit: cover; max-height: 350px;">
            </div>
        </div>

        <br><br>
    </div>
</div>