<% layout("../layout") %>

<div class="container">
    <div class="row">

        <div class="jumbotron">
            <div class="container">
                <br>
                <p>MADDE 1: Konu</p>
                <p>İşbu &Ouml;n Bilgilendirme Formunun konusu aşağıda nitelik ve satış fiyatı belirtilen malın,</p>
                <p>&uuml;r&uuml;n&uuml;n veya hizmetin HALİL İBRAHİM AKCA (satıcı) tarafından satışı ve teslimi</p>
                <p>ile ilgili olarak 6502 sayılı T&uuml;keticilerin Korunması Hakkında Kanun ve 27 Kasım 2014</p>
                <p>tarihli ve 29188 sayılı Resm&icirc; Gazete&rsquo;de yayımlanan Mesafeli S&ouml;zleşmelere Dair</p>
                <p>Y&ouml;netmelik h&uuml;k&uuml;mleri gereğince alıcının bilgilendirilmesidir.</p>
                <p>MADDE 2: Satıcı Bilgileri</p>
                <p>Unvanı : AKCA EĞİTİM KURUMLARI</p>
                <p>Vergi No : 0170846817</p>
                <p>Adresi : KIZILAY MAH. GAZİ MUSTAFA KEMAL BLV. NO:5 İ&Ccedil; KAPI</p>
                <p>NO:601 &Ccedil;ANKAYA /ANKARA</p>
                <p>Telefon : 0544 791 12 54</p>
                <p>E-posta : merhaba@akcaegitim.com</p>
                <p>MADDE 3: Satışa Konu Malın Temel &Ouml;zellikleri ve &Ouml;deme Bilgileri</p>
                <p>S&ouml;zleşme konusu malın/&uuml;r&uuml;n&uuml;n/hizmetin nitelikleri aşağıda belirtildiği gibidir :
                </p>
                <p>Malın/&Uuml;r&uuml;n&uuml;n/Hizmetin Adı :</p>
                <p>&Uuml;r&uuml;n Adı Adet KDV Dahil Satış Fiyatı</p>
                <p>FONKSİYONLAR KONU ANLATIMLI SORU BANKASI :₺25.00</p>
                <p>&Uuml;r&uuml;n&uuml;n Toplam Satış Fiyatı (KDV d&acirc;hil) : ₺35.00</p>
                <p>Kargo &Uuml;creti : ₺10.00</p>
                <p>Siparişlerin Toplam Tutarı (KDV d&acirc;hil) : ₺25.00</p>
                <p>MADDE 4 &ndash; Satın Alınan &Uuml;r&uuml;nlerin Ge&ccedil;erlilik (Erişime A&ccedil;ık Olma)
                    S&uuml;resi</p>
                <p>4.1. Satın alınan video derslerden;</p>
                <p>Dersler video ders i&ccedil;erikleri 2021-YKS (İki Bin Yirmi Bir YKS) tarihine kadar erişime</p>
                <p>a&ccedil;ık olacaktır.</p>
                <p><a name="_GoBack"></a>4.2. Satın alınan video derslerden;</p>
                <p>FONKSİYONLAR KONU ANLATIMI (İki Bin Yirmi Bir YKS) tarihine kadar erişime</p>
                <p>a&ccedil;ık olacaktır.</p>
                <p>MADDE 5: &Uuml;r&uuml;n Fiyatlarına İlişkin Taahh&uuml;tlerin Ge&ccedil;erlilik S&uuml;resi</p>
                <p>5.1. Madde 3'te belirtilen fiyatlar KDV&rsquo;li satış fiyatıdır. İlan edilen fiyatlar ve vaatler</p>
                <p>g&uuml;ncelleme yapılana ve değiştirilene kadar ge&ccedil;erlidir. S&uuml;reli olarak ilan edilen
                    fiyatlar</p>
                <p>ise belirtilen s&uuml;re sonuna kadar ge&ccedil;erlidir.</p>
                <p>5.2. Ders PDF &uuml;r&uuml;nleri video ders i&ccedil;eriklerine &ouml;zel olarak hazırlanmıştır.
                    Video ders</p>
                <p>paketi, seti, tek dersi ile birlikte ya da daha &ouml;nce 2021 yılına ait video ders paketi,</p>
                <p>seti, tek dersi alan alıcılar tarafından satın alınabilir. Bahsi ge&ccedil;en PDF &uuml;r&uuml;nleri
                    tek</p>
                <p>başına satılmamaktadır.</p>
                <p>Madde 6: &Uuml;r&uuml;nlerin Teslimatı</p>
                <p>6.1. S&ouml;zleşme konusu basılı &uuml;r&uuml;nler, 30 g&uuml;nl&uuml;k yasal s&uuml;reyi aşmamak
                    koşulu ile her</p>
                <p>bir &uuml;r&uuml;n i&ccedil;in alıcının yerleşim yerinin uzaklığına bağlı olarak, mevzuatta
                    belirtildiği</p>
                <p>&uuml;zere en ge&ccedil; 30 g&uuml;n i&ccedil;erisinde alıcıya teslim edilecektir.</p>
                <p>6.2. Video ders ve diğer dijital &uuml;r&uuml;nler, &uuml;r&uuml;n&uuml;n satın alınmasından itibaren
                    en ge&ccedil; 15</p>
                <p>g&uuml;n i&ccedil;erisinde alıcının kullanımına a&ccedil;ılacaktır.</p>
                <p>6.3. İnternet sitesinde &ldquo;tahmini teslimat tarihi&rdquo; olarak belirtilen tarih, teslimat
                    i&ccedil;in</p>
                <p>herhangi bir taahh&uuml;t i&ccedil;ermemektedir.</p>
                <p>6.4. &Uuml;r&uuml;nlerin, alıcıya ulaştırılmak &uuml;zere, kargo şirketine tesliminden sonra yaşanan
                </p>
                <p>aksaklıklarla ilgili satıcı sorumlu tutulamaz.</p>
                <p>Madde 7: Cayma Hakkı</p>
                <p>7.1. İstisnai durumlar hari&ccedil;, t&uuml;keticinin &uuml;r&uuml;n&uuml; teslim aldığı tarihten
                    itibaren on d&ouml;rt (14)</p>
                <p>g&uuml;n i&ccedil;inde herhangi bir gerek&ccedil;e g&ouml;stermeksizin ve cezai şart &ouml;demeksizin
                </p>
                <p>siparişten/s&ouml;zleşmeden cayma hakkı vardır. İstisnai durumlar 7.3&rsquo;de belirtilmiştir.</p>
                <p>7.2. Alıcının cayma hakkını kullanılabilmesi i&ccedil;in &uuml;r&uuml;n&uuml;n kullanılmamış,
                    kullanım</p>
                <p>hatası sonucunda hasar g&ouml;rmemiş, etiketleri ve ambalajının zarar g&ouml;rmemiş olması</p>
                <p>gerekir.</p>
                <p>7.3. Ayrıca belirli bazı mal, &uuml;r&uuml;n ve hizmetlere ilişkin s&ouml;zleşmelerde, kullanılmamış
                    ve</p>
                <p>faydalanılmamış olsalar dahi, kanunen cayma hakkı yoktur. Cayma hakkının</p>
                <p>kullanımının m&uuml;mk&uuml;n olmadığı s&ouml;zleşmelerin bazıları şunlardır:</p>
                <p>7.3.a. Malın tesliminden sonra ambalaj, bant, m&uuml;h&uuml;r, paket gibi koruyucu unsurları</p>
                <p>a&ccedil;ılmış olması halinde maddi ortamda sunulan kitap, dijital i&ccedil;erik ve bilgisayar sarf
                </p>
                <p>malzemelerine ilişkin s&ouml;zleşmeler.</p>
                <p>7.3.b. Elektronik ortamda anında ifa edilen hizmetler veya t&uuml;keticiye anında teslim</p>
                <p>edilen gayri maddi mallara ilişkin s&ouml;zleşmeler.</p>
                <p>7.3.c. Cayma hakkı s&uuml;resi sona ermeden &ouml;nce, t&uuml;keticinin onayı ile ifasına başlanan
                </p>
                <p>hizmetlere ilişkin s&ouml;zleşmeler.</p>
                <p>7.4. Kanunen cayma hakkı &ouml;ng&ouml;r&uuml;lmemiş hallerde cayma hakkından faydalanılamaz.</p>
                <p>7.5. Cayma hakkı usul&uuml;ne uygun veya zamanında kullanılmadığı durumlarda, cayma</p>
                <p>hakkı kaybedilir.</p>
                <p>7.6. Kanunen cayma hakkı olan hallerde cayma s&uuml;resi i&ccedil;inde; malın, işleyişine, teknik</p>
                <p>&ouml;zelliklerine ve kullanım talimatlarına uygun bir şekilde kullanılmadığı i&ccedil;in meydana</p>
                <p>gelen değişiklik ve bozulmalardan kanun gereği T&uuml;ketici sorumludur. T&uuml;ketici</p>
                <p>yukarıda belirtilen sorumluluklarına uygun hareket etmezse mal, &uuml;r&uuml;n ve hizmetlere</p>
                <p>ilişkin cayma hakkını kaybedebilir.</p>
                <p>7.7. T&uuml;ketici cayma hakkını kullandığına ilişkin bildirimi y&ouml;nelttiği tarihten itibaren on
                </p>
                <p>(10) g&uuml;n i&ccedil;inde malı veya &uuml;r&uuml;n&uuml; Satıcıya geri g&ouml;ndermek zorundadır.
                    Kargo</p>
                <p>şirketleriyle yapılan g&ouml;nderilerin kargo &uuml;creti T&uuml;keticiye aittir.</p>
                <p>7.8. Malın veya &uuml;r&uuml;n&uuml;n tarafımıza g&ouml;nderildiğine ilişkin kargo teslim tutanağı
                    &ouml;rneği</p>
                <p>ile, iade edilecek malın veya &uuml;r&uuml;n&uuml;n kutusu, ambalajı, varsa standart aksesuarları ile
                </p>
                <p>birlikte eksiksiz ve hasarsız olarak tarafımıza iletilmesi gerekmektedir.</p>
                <p>7.9. Yukarıda belirtilen gerekliliklerin alıcı tarafından s&uuml;resinde ve usul&uuml;ne uygun</p>
                <p>olarak yerine getirilmesi koşuluyla, cayma bildiriminin Şirketimize ulaştığı tarihten</p>
                <p>itibaren 14 g&uuml;n i&ccedil;inde, malın veya &uuml;r&uuml;n&uuml;n bedeli ve varsa teslimat
                    masrafları, malın</p>
                <p>veya &uuml;r&uuml;nlerin satın alındığı &ouml;deme aracına uygun bir bi&ccedil;imde alıcıya iade
                    edilir.</p>
                </p>
            </div>
        </div>

    </div>
</div>