<% layout("../layout") %>

<div class="container">
    <div class="row">

        <div class="jumbotron">
            <div class="container"><br>
                <p>MESAFELİ SATIŞ S&Ouml;ZLEŞMESİ</p>
                <p>MADDE 1 &ndash; KONU:</p>
                <p>İşbu s&ouml;zleşmenin konusu HALİL İBRAHİM AKCA (satıcı); &uuml;r&uuml;n satın alan</p>
                <p>kişi veya firmaya (alıcı) satışını yaptığı, aşağıda nitelikleri belirtilen &uuml;r&uuml;n&uuml;n
                    fiyatı,</p>
                <p>satışı ve teslimi ile ilgili olarak 6502 sayılı T&uuml;keticilerin Korunması Hakkındaki KanunMesafeli
                    S&ouml;zleşmeleri Uygulama Esas ve Usulleri Hakkında Y&ouml;netmelik h&uuml;k&uuml;mleri</p>
                <p>gereğince tarafların hak ve y&uuml;k&uuml;ml&uuml;l&uuml;klerinin kapsamaktadır. Listelenen ve sitede
                </p>
                <p>ilan edilen fiyatlar KDV d&acirc;hil satış fiyatıdır. İlan edilen fiyatlar ve vaatler g&uuml;ncelleme
                </p>
                <p>yapılana ve değiştirilene kadar ge&ccedil;erlidir. S&uuml;reli olarak ilan edilen fiyatlar ise
                    belirtilen</p>
                <p>s&uuml;re sonuna kadar ge&ccedil;erlidir.</p>
                <p>MADDE 2 &ndash; SATICI BİLGİLERİ:</p>
                <p>Unvan: AKCA EĞİTİM KURUMLARI</p>
                <p>Vergi No: 0170846817</p>
                <p>Adres: KIZILAY MAH. GAZİ MUSTAFA KEMAL BLV. NO:5 İ&Ccedil; KAPI NO:601</p>
                <p>&Ccedil;ANKAYA /ANKARA</p>
                <p>Telefon: 0544 791 12 54</p>
                <p>E-mail: merhaba@akcaegitim.com</p>
                <p>MADDE 3 &ndash; ALICI VE S&Ouml;ZLEŞME KONUSU &Uuml;R&Uuml;N BİLGİLERİ:</p>
                <p>Malı/&Uuml;r&uuml;n&uuml;/Hizmeti alan kişinin bilgileri ve malın/&uuml;r&uuml;n&uuml;n/hizmetin
                    nitelikleri aşağıda</p>
                <p>belirtildiği gibidir:</p>
                <p>Adı ve Soyadı :</p>
                <p>Telefon Numarası :</p>
                <p>Malın/&Uuml;r&uuml;n&uuml;n/Hizmetin Adı :</p>
                <p>&Uuml;r&uuml;n Adı Adet KDV Dahil Satış Fiyatı</p>
                <p>FONKSİYONLAR KONU ANLATIMLI SORU BANKASI :₺25.00</p>
                <p>Satış Fiyatı (KDV d&acirc;hil) : ₺25.00</p>
                <p>Kargo &Uuml;creti : : ₺10.00</p>
                <p>Kargo Dahil Toplam Satış Fiyatı : ₺35.00</p>
                <p>&Ouml;deme Şekli : Kredi/Banka Kartı - Tek &Ccedil;ekim &ndash;Sanal Pos-Kapıda &Ouml;deme</p>
                <p>Teslim Edilecek Kişi :</p>
                <p>Teslimat Adresi : / Ankara</p>
                <p>Fatura Adresi : / Ankara</p>
                <p>Sipariş Tarihi : 14/01/2021</p>
                <p>MADDE 4 &ndash; SATIN ALINAN &Uuml;R&Uuml;NLERİN GE&Ccedil;ERLİLİK (ERİŞİME A&Ccedil;IK OLMA)</p>
                <p>S&Uuml;RESİ:</p>
                <p>4.1. Satın alınan video derslerden;</p>
                <p>Dersler video ders i&ccedil;erikleri 2021-YKS (İki Bin Yirmi Bir YKS) tarihine kadar erişime</p>
                <p>a&ccedil;ık olacaktır.</p>
                <p>4.2. Satın alınan video derslerden;</p>
                <p>Problemler Seti, Fonksiyonlar ve Trigonometri Seti video ders i&ccedil;erikleri 01.09.2021 (Bir
                    Eyl&uuml;l</p>
                <p>İki Bin Yirmi Bir) tarihine kadar erişime a&ccedil;ık olacaktır.</p>
                <p>4.3. Satın alınan Parabol Polinom &Ccedil;arpanlara Ayırma 2.Dereceden Denklem kitabında yer alan
                    soruların video &ccedil;&ouml;z&uuml;mleri 01.07.2021 (Bir Temmuz İki Bin Yirmi Bir ) tarihine kadar
                    erişime a&ccedil;ık olacaktır.</p>
                <p>4.4. Satın alınan video derslerden;</p>
                <p>(İki Bin Yirmi Bir YKS) tarihine kadar erişime a&ccedil;ık olacaktır.</p>
                <p>MADDE 5 &ndash; GENEL H&Uuml;K&Uuml;MLER (Alıcının &ouml;nceden bilgilendirildiği hususlar):</p>
                <p>5.1. İşbu s&ouml;zleşme, alıcı tarafından satıcının web sitesi &uuml;zerinden onaylanıp satıcıya</p>
                <p>ulaştırılmasından sonra ge&ccedil;erlilik kazanır.</p>
                <p>5.2. Alıcı, satıcıya ait internet sitesine &uuml;ye olurken verdiği kişisel ve diğer bilgilerin</p>
                <p>ger&ccedil;eğe uygun olduğunu, satıcının bu bilgilerin ger&ccedil;eğe aykırılığı nedeniyle</p>
                <p>uğrayacağı t&uuml;m zararları, satıcının ilk bildirimi &uuml;zerine derhal, nakden ve defaten</p>
                <p>tazmin edeceğini beyan ve taahh&uuml;t eder.</p>
                <p>5.3. S&ouml;zleşme konusu &uuml;r&uuml;n&uuml;n teslimatı i&ccedil;in &uuml;r&uuml;n bedelinin
                    &ouml;denmiş olması şarttır.</p>
                <p>Herhangi bir nedenle &uuml;r&uuml;n bedeli &ouml;denmez veya banka kayıtlarında iptal edilir ise,</p>
                <p>satıcı &uuml;r&uuml;n&uuml;n teslimi y&uuml;k&uuml;ml&uuml;l&uuml;ğ&uuml;nden kurtulmuş kabul edilir.
                </p>
                <p>5.4. 1. Kitap ve ders PDF &uuml;r&uuml;nleri video ders i&ccedil;eriklerine &ouml;zel olarak
                    hazırlanmıştır.</p>
                <p>Video ders paketi, seti, tek dersi ile birlikte ya da daha &ouml;nce 2021 yılına ait video ders</p>
                <p>paketi, seti, tek dersi alan alıcılar tarafından satın alınabilir. Bahsi ge&ccedil;en PDF
                    &uuml;r&uuml;nleri</p>
                <p>tek başına satılmamaktadır.</p>
                <p>5.5. &Uuml;r&uuml;nlerin teslimat s&uuml;releri aşağıda belirtilmiştir.</p>
                <p>5.5.a. S&ouml;zleşme konusu basılı &uuml;r&uuml;nler, 30 g&uuml;nl&uuml;k yasal s&uuml;reyi aşmamak
                    koşulu ile</p>
                <p>her bir &uuml;r&uuml;n i&ccedil;in alıcının yerleşim yerinin uzaklığına bağlı olarak, mevzuatta
                    belirtildiği</p>
                <p>&uuml;zere en ge&ccedil; 30 g&uuml;n i&ccedil;erisinde alıcıya teslim edilecektir.</p>
                <p>5.5.b. Video ders ve diğer dijital &uuml;r&uuml;nler, &uuml;r&uuml;n&uuml;n satın alınmasından
                    itibaren en ge&ccedil;</p>
                <p>15 g&uuml;n i&ccedil;erisinde alıcının kullanımına a&ccedil;ılacaktır.</p>
                <p>5.5.c. İnternet sitesinde &ldquo;tahmini teslimat tarihi&rdquo; olarak belirtilen tarih, teslimat
                    i&ccedil;in</p>
                <p>herhangi bir taahh&uuml;t i&ccedil;ermemektedir.</p>
                <p>5.6. S&ouml;zleşme konusu &uuml;r&uuml;nler, alıcıdan başka bir kişi/kuruluşa teslim edilecek ise,
                </p>
                <p>teslim edilecek kişi/kuruluşun teslimatı kabul etmemesinden satıcı sorumlu tutulamaz.</p>
                <p>5.7. &Uuml;r&uuml;nlerin, alıcıya ulaştırılmak &uuml;zere, kargo şirketine tesliminden sonra yaşanan
                </p>
                <p>aksaklıklarla ilgili satıcı sorumlu tutulamaz.</p>
                <p>5.8. Malın Satıcı tarafından kargoya verilmesinden sonra ve fakat alıcı tarafından</p>
                <p>teslim alınmasından &ouml;nce alıcı tarafından yapılan sipariş iptallerinde kargo</p>
                <p>bedelinden alıcı sorumludur.</p>
                <p>5.9. Alıcının, teslim edildiği esnada tahrip olmuş, kırık, ambalajı yırtılmış vb. hasarlı</p>
                <p>ve ayıplı olduğu a&ccedil;ık&ccedil;a belli olan s&ouml;zleşme konusu mal veya hizmet kargo
                    şirketinden</p>
                <p>teslim alması halinde sorumluluk tamamen kendisine aittir.</p>
                <p>5.10. &Uuml;r&uuml;n&uuml;n tesliminden sonra, alıcıya ait kredi kartının, alıcının kusurundan</p>
                <p>kaynaklanmayan bir şekilde, yetkisiz &uuml;&ccedil;&uuml;nc&uuml; kişilerce haksız veya hukuka aykırı
                </p>
                <p>olarak kullanılması sonucu bahsi ge&ccedil;en kredi kartının bağlı bulunduğu banka yahut</p>
                <p>finans kuruluşunun &uuml;r&uuml;n bedelini satıcıya &ouml;dememesi halinde; &uuml;r&uuml;n&uuml;n,
                    alıcının</p>
                <p>kendisine teslim edilmiş olması kaydıyla, bahse konu mal/hizmet/&uuml;r&uuml;n&uuml;n 3 g&uuml;n
                    i&ccedil;inde</p>
                <p>satıcıya g&ouml;nderilmesi zorunludur. Bu takdirde nakliye giderleri alıcıya aittir.</p>
                <p>5.11. Satıcı; m&uuml;cbir sebepler, salgın hastalıklar, zorunluluk halleri yahut dijital</p>
                <p>platformlarda ger&ccedil;ekleşebilecek aksaklıklar sebebiyle veya nakliyeyi engelleyen hava</p>
                <p>muhalefeti, ulaşımın kesilmesi gibi olağan&uuml;st&uuml; durumlar nedeni ile s&ouml;zleşme konusu</p>
                <p>&uuml;r&uuml;n&uuml; s&uuml;resi i&ccedil;inde teslim edemez ise, durumu alıcıya bildirmekle
                    y&uuml;k&uuml;ml&uuml;d&uuml;r. Bu</p>
                <p>takdirde alıcı, siparişin iptal edilmesini, s&ouml;zleşme konusu &uuml;r&uuml;n&uuml;n varsa emsali
                    ile</p>
                <p>değiştirilmesini ve/veya teslimat s&uuml;resinin engelleyici durumun ortadan kalkmasına</p>
                <p>kadar ertelenmesi haklarından birini kullanabilir. Alıcının havale/EFT ile yaptığı</p>
                <p>&ouml;demelerde, siparişi iptal etmesi halinde, &ouml;dediği tutar 10 g&uuml;n i&ccedil;inde
                    kendisine</p>
                <p>nakden ve defaten &ouml;denir. Alıcının kredi kartı ile yaptığı &ouml;demelerde ise, &uuml;r&uuml;n
                    tutarı,</p>
                <p>siparişin alıcı tarafından iptal edilmesinden sonraki 7 (yedi) g&uuml;n i&ccedil;erisinde ilgili</p>
                <p>bankaya iade edilir. Bedelin bankaya iadesinden sonra alıcının hesaplarına</p>
                <p>yansıması hali tamamen banka işlem s&uuml;reci ile ilgili olduğundan; alıcı, olası</p>
                <p>gecikmeler i&ccedil;in satıcıyı sorumlu tutamayacağını kabul, beyan ve taahh&uuml;t eder.</p>
                <p>5.12. Alıcı, Madde 3&rsquo;te belirtilen s&ouml;zleşme konusu &uuml;r&uuml;n&uuml;n temel
                    nitelikleri, satış fiyatı</p>
                <p>ve &ouml;deme şekli ile teslimata ilişkin t&uuml;m &ouml;n bilgileri okuyup bilgi sahibi olduğunu ve
                </p>
                <p>elektronik ortamda gerekli teyidi verdiğini beyan eder.</p>
                <p>5.13. Alıcı, satıcıya ait internet sitesini kullanırken yasal mevzuat h&uuml;k&uuml;mlerine riayet
                </p>
                <p>etmeyi ve bunları ihlal etmemeyi baştan kabul ve taahh&uuml;t eder. Aksi takdirde,</p>
                <p>doğacak t&uuml;m hukuki ve cezai y&uuml;k&uuml;ml&uuml;l&uuml;kler tamamen ve m&uuml;nhasıran alıcıyı
                </p>
                <p>bağlayacaktır.</p>
                <p>5.14. Hizmetin/&Uuml;r&uuml;n&uuml;n/Malın alıcısı, satıcıya ait internet sitesini hi&ccedil;bir
                    şekilde kamu</p>
                <p>d&uuml;zenini bozucu, genel ahlaka aykırı, başkalarını rahatsız ve taciz edici şekilde,</p>
                <p>yasalara aykırı bir ama&ccedil; i&ccedil;in, başkalarının maddi ve manevi haklarına tecav&uuml;z</p>
                <p>edecek şekilde kullanamaz. Ayrıca &uuml;ye, başkalarının hizmetleri kullanmasını &ouml;nleyici</p>
                <p>veya zorlaştırıcı faaliyet ve işlemlerde (spam, vir&uuml;s, truva atı, vb.) bulunamaz.</p>
                <p>5.15. İşbu s&ouml;zleşme i&ccedil;erisinde sayılan maddelerden bir ya da birka&ccedil;ını ihlal eden
                </p>
                <p>alıcı, işbu ihlal nedeniyle cezai ve hukuki olarak şahsen sorumlu olup, satıcıyı bu</p>
                <p>ihlallerin hukuki ve cezai sonu&ccedil;larından ari tutacaktır. Ayrıca; s&ouml;z konusu ihlal</p>
                <p>nedeniyle, olayın hukuk alanına intikal ettirilmesi halinde, satıcının alıcıya karşı işbu</p>
                <p>s&ouml;zleşmeye uyulmamasından dolayı tazminat talebinde bulunma hakkı saklıdır.</p>
                <p>5.16. İşbu, alıcı eserlerin; izinsiz dağıtılması, yayınlanması, kopyalanması veya</p>
                <p>satılması eylemlerinde bulunmayacağını taahh&uuml;t eder. Alıcı taahh&uuml;d&uuml;ne uymadığı</p>
                <p>takdirde satıcı gerekli yasal ve cezai işlemleri başlatır.</p>
                <p>MADDE 6 &ndash; CAYMA HAKKI:</p>
                <p>6.1. Alıcı, s&ouml;zleşme konusu yazılı basım &uuml;r&uuml;n&uuml;n&uuml;n kendisine veya
                    g&ouml;sterdiği</p>
                <p>adresteki kişi/kuruluşa tesliminden itibaren on d&ouml;rt (14) g&uuml;n i&ccedil;inde cayma hakkına
                </p>
                <p>sahiptir. Cayma hakkının kullanılması i&ccedil;in bu s&uuml;re i&ccedil;inde alıcıya faks, e-mail
                    veya</p>
                <p>telefon ile bildirimde bulunulması ve &uuml;r&uuml;n&uuml;n işbu s&ouml;zleşmenin bahse konu
                    h&uuml;k&uuml;mleri</p>
                <p>&ccedil;er&ccedil;evesinde kullanılmamış olması şarttır. Kullanılan &uuml;r&uuml;nler i&ccedil;in
                    cayma hakkından</p>
                <p>faydalınamaz.</p>
                <p>6.2. Cayma hakkın kullanılması halinde, iade edilecek &uuml;r&uuml;n&uuml;n kargoya verildiğine dair
                </p>
                <p>tutanağın, alıcı tarafından satıcıya ulaştırılması zorunludur. Bu belgelerin ulaşmasını</p>
                <p>takip eden on d&ouml;rt (14) g&uuml;n i&ccedil;inde &uuml;r&uuml;n bedeli alıcıya iade edilir. Alıcı,
                    iadeyi satıcı</p>
                <p>tarafından belirlenen adrese g&ouml;ndermekle y&uuml;k&uuml;ml&uuml;d&uuml;r. Cayma hakkı nedeni ile
                    iade</p>
                <p>edilen &uuml;r&uuml;n&uuml;n kargo bedeli alıcı tarafından karşılanır.</p>
                <p>6.3. 27 Kasım 2014 tarihli Resm&icirc; Gazetede yayınlanan Mesafeli S&ouml;zleşmeler</p>
                <p>Y&ouml;netmeliğinin 15. Maddesinin cayma hakkının kullanılamayacağı durumlar</p>
                <p>sıralanmıştır. Bu maddenin &ldquo;ğ&rdquo; bendinde cayma hakkına ilişkin olarak; &ldquo;Elektronik
                </p>
                <p>ortamda anında ifa edilen hizmetler veya t&uuml;keticiye anında teslim edilen gayri maddi</p>
                <p>mallara ilişkin s&ouml;zleşmeler&rdquo; i&ccedil;in cayma hakkının kullanılamayacağı
                    a&ccedil;ık&ccedil;a</p>
                <p>belirtilmiştir. Alıcı, yukarıda verilen mevzuatın &ldquo;ğ&rdquo; bendine g&ouml;re, video
                    i&ccedil;erik ve diğer</p>
                <p>dijital i&ccedil;erikler i&ccedil;in cayma hakkı bulunmadığını kabul ve beyan eder.</p>
                <p>6.4. Video konu anlatımları veya video soru &ccedil;&ouml;z&uuml;mlerine erişim kodu i&ccedil;eren
                    kitapların</p>
                <p>ambalajları, kod g&ouml;r&uuml;lecek şekilde a&ccedil;ıldığı takdirde bu &uuml;r&uuml;nler
                    kullanılmış sayılır.</p>
                <p>MADDE 7 &ndash; YETKİLİ HAKEM HEYETLERİ VE MAHKEMELER:</p>
                <p>7.1. Siparişin ger&ccedil;ekleşmesi durumunda alıcı, işbu s&ouml;zleşmenin t&uuml;m maddelerini ve
                </p>
                <p>koşullarını kabul etmiş sayılır.</p>
                <p>7.2. İşbu s&ouml;zleşmenin uygulanmasında, 6502 Sayılı Kanun&rsquo;un ilgili h&uuml;k&uuml;mlerine
                </p>
                <p><a name="_GoBack"></a>uygun olarak ANKARA T&uuml;ketici Hakem Heyetleri ile Ankara İcra Mahkemeleri
                    yetkilidir.</p>

                </p>
            </div>
        </div>

    </div>
</div>