<% layout("layout") %> 


<style>
	body{
		background-color:lightgreen;
	}
</style>


<div class="container">
	<div class="row">
		<div class="col-md-12">
            <h1 class="text-center" style="padding-left: 20%;">SAYIN : <%= user.name %> <%= user.surname %>   <br>
            ÜYELİĞİNİZ BAŞARIYLA OLUŞTURULMUŞTUR.

            <br> <%= user.username %> mail adresiniz üzerinden bilgilendirileceksiniz.
            </h1>
		</div>
	</div>
</div>