<% layout("layout") %>

<div class="page-title" style="padding-top: 50px; background-color:dodgerblue;">
    <div class="grid-row">
        <h1>Bize Ulaşın</h1>
        <!-- bread crumb -->
        <nav class="bread-crumb">
            <a href="/">Anasayfa</a>
            <i class="fa fa-long-arrow-right"></i>
            <a href="/iletisim">İletişim</a>
        </nav>
        <!-- / bread crumb -->
    </div>
</div>

<div class="grid-row clear-fix">
    <div class="grid-col-row">
        <div class="grid-col grid-col-8">
            <section>
                <h2>Bize Ulaşın</h2>
                <div class="widget-contact-form">
                    <!-- contact-form -->
                    <div class="info-boxes error-message alert-boxes error-alert" id="feedback-form-errors">
                        <strong>Attention!</strong>
                        <div class="message"></div>
                    </div>
                    <div class="email_server_responce"></div>
                    <form action="http://html.cwsthemes.com/unilearn/php/contacts-process.php" method="post" class="contact-form alt clear-fix">
                        <input type="text" name="name" value="" size="40" placeholder="Ad Soyad" aria-invalid="false" aria-required="true">
                        <input type="text" name="email" value="" size="40" placeholder="Mail Adresi" aria-required="true">
                        <input type="text" name="subject" value="" size="40" placeholder="Konu" aria-invalid="false" aria-required="true">
                        <textarea name="message"  cols="40" rows="3" placeholder="Mesajınız" aria-invalid="false" aria-required="true"></textarea>
                        <input type="submit" value="Gönder" class="cws-button border-radius alt">
                    </form>
                    <!--/contact-form -->
                </div>
            </section>
        </div>
        <div class="grid-col grid-col-4 widget-address">
            <section>
                <h2>İletişim Bilgileri</h2>
                <address>
                    <p><strong class="fs-18">Adres:</strong><br/>Kızılay Mahallesi, Gazi Mustafa Kemal Paşa Bulv<br/>No:5 , İç Kapı No: 601 ÇANKAYA / ANKARA </p>
                    <p><strong class="fs-18">Telefon:</strong><br/>
                        <a href="tel:+905447911254">05447911254</a><br/>
                    </p>
                    <p><strong class="fs-18">E-mail:</strong><br/>
                        <a href="mailto:info@akcaonline.com">info@akcaonline.com</a><br/>
                    </p>
                </address>
            </section>
        </div>
    </div>
</div>