<% layout("layout") %>


<style>
	body {
		background-color: orange;
	}
</style>


<div class="container-fluid">
	<br><br>
	<div class="row">
		<div class="col-md-7">
			<h1 class="text-center" style="padding-top: 10vh;">YKS Matematik ve Geometri için Online Eğitim Setleri</h1>
			<p class="text-center">Lise Matematiğinin en çok zorlanılan konularının kitabını yazdık.Bunların tamamını da
				video eğitim haline getirdik ! Hem konu anlatımı hem soru çözümü.</p>
				<br><br>
			<a href="/sorucozumleri" class="btn btn-primary btn-lg" style="margin-left: 10vh;">EĞİTİMLERİMİZİ İNCELE</a>
			<a href="/kitap" class="btn btn-primary btn-lg" style="margin-left: 10vh;">KİTAPLARIMIZI İNCELE</a>
		</div>
		<div class="col-md-5">
			<img src="../../kapak.png" class="img-responsive" alt="">
		</div>
	</div>
<br><br><br>