<% layout("layout") %>

<div class="page-title" style="padding-top: 50px; background-color:dodgerblue;">
    <div class="grid-row">
        <h1>Kitaplarımız</h1>
        <nav class="bread-crumb">
            <a href="/">Anasayfa</a>
            <i class="fa fa-long-arrow-right"></i>
            <a href="#">Kitaplarımız</a>
        </nav>
    </div>
</div>
<section class="padding-section">
	<div class="grid-row clear-fix">
		<h2 class="center-text">Kitaplarımız</h2>
		<div class="grid-col-row">
			<% kitap.forEach(element => { %>
				<div class="grid-col grid-col-3">
					<!-- course item -->
					<div class="course-item">
						<div class="course-hover">
							<img src="<%= element.kapak %>" style="object-fit: cover;">
							<div class="hover-bg bg-color-1"></div>
							<a href="#">Satın Al</a>
						</div>
						<div class="course-name clear-fix">
							<span class="price"> <b><%= element.price-10%> ₺</b> </span>
						<h3><a href="#"><%= element.title %></a></h3>
							</div>
					</div>
				</div>
			<% }) %>
		</div>
	</div>
</section>