<% layout("layout") %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.css" integrity="sha512-mNBK16eobgxYTbRSQhlXA6hEVqfO+o31KEctFCjcn1FytkihWQGCAB4ktjdt/NiGE6q6b09aosY0det7YQa8AA==" crossorigin="anonymous" />
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3 class="text-center">
                FONSİYONLAR KİTABI
            </h3>
            <img src="kitap.jpeg" class="img-responsive">
            <ul class="list-group">
                <li class="list-group-item">
                    <b><p class="text-center">FİYAT : 25 ₺</p></b>
                </li>
                <li class="list-group-item">
                    <b><p class="text-center">KARGO ÜCRETİ : 10 ₺</p></b>
                </li>
                <li class="list-group-item" style="background-color: gold;">
                    <b><p class="text-center bg-green">TOPLAM : 35 ₺</p></b>
                </li>
            </ul>
        </div>
        <div class="col-md-8">

            <br><br><br>
            <div class="row">
                <div class="form-group col-md-6">
                    <label>Adınız</label>
                    <input type="text" class="form-control" placeholder="Adınız">
                </div>
                <div class="form-group col-md-6">
                    <label>Soyadınız</label>
                    <input type="text" class="form-control" placeholder="Soyadınız">
                </div>
                <div class="form-group col-md-6">
                    <label>Mail Adresiniz</label>
                    <input type="mail" class="form-control" placeholder="Mail Adresiniz">
                </div>
                <div class="form-group col-md-6">
                    <label>Telefon Numaranız</label>
                    <input type="phone" class="form-control" placeholder="Telefon numaranız">
                </div>
                <div class="form-group col-md-6">
                    <label>İliniz</label>
                    <input type="phone" class="form-control" placeholder="Ürünün kargolanacağı il">
                </div>
                <div class="form-group col-md-6">
                    <label>İlçeniz</label>
                    <input type="phone" class="form-control" placeholder="Ürünün kargolanacağı ilçe">
                </div>
                <div class="form-group col-md-12">
                    <label>Adresiniz</label>
                    <textarea class="form-control" rows="5" placeholder="Adresiniz"></textarea>
                </div>
                <div class="form-group col-md-12">
                    <button class="btn btn-primary btn-lg" style="width: 100%;">SİPARİŞ VER 35 ₺ </button>
                </div>
            </div>
        </div>
    </div>
</div>