<!DOCTYPE HTML>
<html>

<head>
	<title>AKCA ONLİNE</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<!-- style -->
	<link rel="shortcut icon" href="../../front/img/favicon.png">
	<link rel="stylesheet" href="../../front/css/font-awesome.css">
	<link rel="stylesheet" href="../../front/fi/flaticon.css">
	<link rel="stylesheet" href="../../front/css/main.css">
	<link rel="stylesheet" href="../../front/tuner/css/colorpicker.css" />
	<link rel="stylesheet" href="../../front/tuner/css/styles.css" />
	<link rel="stylesheet" href="../../front/css/jquery.fancybox.css" />
	<link rel="stylesheet" href="../../front/css/owl.carousel.css">
	<link rel="stylesheet" href="../../front/rs-plugin/css/settings.css" media="screen">
	<link rel="stylesheet" href="../../front/css/animate.css">

	<!--styles -->
</head>

<body>
	<!-- page header -->
	<header class="only-color">
		<!-- header top panel -->
		<div class="page-header-top">
			<div class="grid-row clear-fix">
				<address>
					<a href="tel:+905447911254" class="phone-number"><i class="fa fa-phone"></i>0538 491 01 22</a>
					<a href="mailto:info@akcaonline.com" class="email"><i
							class="fa fa-envelope-o"></i>info@akcaonline.com</a>
				</address>
				<div class="header-top-panel">
					<a href="#" class="fa fa-shopping-cart"></a>
					<a href="/users/register" class="fa fa-user login-icon"></a>
					<div id="top_social_links_wrapper">
						<div class="share-toggle-button"><i class="share-icon fa fa-share-alt"></i></div>
						<div class="cws_social_links"><a href="#" class="cws_social_link" title="Google +"><i
									class="share-icon fa fa-google-plus"
									style="transform: matrix(0, 0, 0, 0, 0, 0);"></i></a><a href="#"
								class="cws_social_link" title="Twitter"><i class="share-icon fa fa-twitter"></i></a><a
								href="#" class="cws_social_link" title="Facebook"><i
									class="share-icon fa fa-facebook"></i></a><a href="#" class="cws_social_link"
								title="Dribbble"><i class="share-icon fa fa-dribbble"></i></a></div>
					</div>

				</div>
			</div>
		</div>
		<!-- / header top panel -->
		<!-- sticky menu -->
		<div class="sticky-wrapper">
			<div class="sticky-menu">
				<div class="grid-row clear-fix">
					<!-- logo -->
					<a href="/" class="logo">
						<img src="../../../LOGO.jpg" style="border-radius: 100px;">
					</a>
					<!-- / logo -->
					<nav class="main-nav">
						<ul class="clear-fix">
							<li>
								<a href="/" class="active">Anasayfa</a>
							</li>
							<li>
								<a href="/videolar">EĞİTİM VİDEOLARI</a>
								<!-- <ul>
									<li><a href="courses-grid.html">Courses grid</a></li>
									<li><a href="courses-list.html">Courses list</a></li>
									<li><a href="courses-single-item.html">Courses single item</a></li>
								</ul> -->
							</li>
							<li>
								<a href="#">ÜRÜNLERİMİZ</a>
							</li>
							<li>
								<a href="#">Hakkımızda</a>
								<!-- <ul>
									<li><a href="shop-product-list.html">Product List</a></li>
									<li><a href="shop-single-product.html">Single Product</a></li>
									<li><a href="shop-checkout.html">Checkout</a></li>
									<li><a href="shop-cart.html">Shop Cart</a></li>
								</ul> -->
							</li>
							<li>
								<a href="#">İletişim</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<!-- sticky menu -->
	</header>

	<%- body %>


	<footer>
		<div class="grid-row">
			<div class="grid-col-row clear-fix">
				<section class="grid-col grid-col-4 footer-about">
					<h2 class="corner-radius">Akca Online</h2>

					<address>
						<p></p>
						<a href="tel:123-123456789" class="phone-number">905447911254</a>
						<br />
						<a href="mailto:uni@domain.com" class="email">info@akcaonline.com</a>
						<br />
					</address>
					<div class="footer-social">
						<a href="#" class="fa fa-facebook"></a>
						<a href="#" class="fa fa-instagram"></a>
						<a href="#" class="fa fa-youtube"></a>
					</div>
				</section>
				<section class="grid-col grid-col-4 footer-latest">
					<h2 class="corner-radius">ÜRÜNLERİMİZ</h2>
					<!-- <article>
						<img src="../../../front/pic/83x83-img-2.jpg" alt>
						<h3>Sed aliquet dui at auctor blandit</h3>
						<div class="course-date">
							<div>10<sup>00</sup></div>
							<div>23.02.15</div>
						</div>
						<p>Sed pharetra lorem ut dolor dignissim,
							sit amet pretium tortor mattis.</p>
					</article> -->
				</section>
				<section class="grid-col grid-col-4 footer-contact-form">
					<h2 class="corner-radius">İLETİŞİM</h2>
					<div class="email_server_responce"></div>
					<form action="#" class="contact-form"
						method="post" novalidate="novalidate">
						<p><span class="your-name"><input type="text" name="name" value="" size="40" placeholder="Ad soyad"
									aria-invalid="false" required></span>
						</p>
						<p><span class="your-email"><input type="text" name="phone" value="" size="40"
									placeholder="Telefon" aria-invalid="false" required></span> </p>
						<p><span class="your-message"><textarea name="message" placeholder="Mesajınız" cols="40" rows="5"
									aria-invalid="false" required></textarea></span> </p>
						<button type="submit" class="cws-button bt-color-3 border-radius alt icon-right">Gönder <i
								class="fa fa-angle-right"></i></button>
					</form>
				</section>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="grid-row clear-fix">
				<div class="copyright">WEBMASTERADAM<span></span> 2021 . Tüm hakları saklıdır.</div>
				<nav class="footer-nav">
					<ul class="clear-fix">
						<li>
							<a href="/gizlilik">Gizlilik Sözleşmesi</a>
						</li>
						<li>
							<a href="/mesafeli">Mesafeli Satış Sözleşmesi</a>
						</li>

					</ul>
				</nav>
			</div>
		</div>
	</footer>
	<script src="../../../front/js/jquery.min.js"></script>
	<script type='text/javascript' src='../../../front/js/jquery.validate.min.js'></script>
	<script src="../../../front/js/jquery.form.min.js"></script>
	<script src="../../../front/js/TweenMax.min.js"></script>
	<script src="../../../front/js/main.js"></script>
	<!-- jQuery REVOLUTION Slider  -->
	<script type="text/javascript" src="../../../front/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="../../../front/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
	<script src="../../../front/js/jquery.isotope.min.js"></script>
	<script src="../../../front/js/owl.carousel.min.js"></script>
	<script src="../../../front/js/jquery-ui.min.js"></script>
	<script src="../../../front/js/jflickrfeed.min.js"></script>
	<script src="../../../front/js/jquery.tweet.js"></script>
	<script src="../../../front/js/jquery.fancybox.pack.js"></script>
	<script src="../../../front/js/jquery.fancybox-media.js"></script>
	<script src="../../../front/js/retina.min.js"></script>
</body>

</html>