<!DOCTYPE HTML>
<html>

<head>
	<title>AKCA EĞİTİM</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<link rel="shortcut icon" href="../../../front/logo-2.png">
	<link rel="stylesheet" href="../../../front/css/font-awesome.css">
	<link rel="stylesheet" href="../../../front/fi/flaticon.css">
	<link rel="stylesheet" href="../../../front/css/main.css">
	<link rel="stylesheet" type="text/css" href="../../../front/tuner/css/colorpicker.css" />
	<link rel="stylesheet" type="text/css" href="../../../front/tuner/css/styles.css" />
	<link rel="stylesheet" type="text/css" href="../../../front/css/jquery.fancybox.css" />
	<link rel="stylesheet" href="../../../front/css/owl.carousel.css">
	<link rel="stylesheet" type="text/css" href="../../../front/rs-plugin/css/settings.css" media="screen">
	<link rel="stylesheet" href="../../../front/css/animate.css">
</head>
<body>
	<!-- page header -->
	<header class="only-color">
		<!-- header top panel -->
		<div class="page-header-top">
			<div class="grid-row clear-fix">
				<address>
					<a href="tel:+905447911254" class="phone-number"><i class="fa fa-phone"></i>+90 544 791 12 54</a>
					<a href="mailto:info@akcaonline.com" class="email"><i class="fa fa-envelope-o"></i>info@akcaonline.com</a>
				</address>
				<div class="header-top-panel">
					<a href="#" class="fa fa-shopping-cart"></a>
					<a href="/login" class="fa fa-user login-icon"></a>
					<div id="top_social_links_wrapper">
					    <div class="share-toggle-button"><i class="share-icon fa fa-share-alt"></i></div>
					    <div class="cws_social_links">
							<a href="https://www.instagram.com/akca.egitim/?igshid=10nf410wukxgj" class="cws_social_link" title="Google +"><i class="share-icon fa fa-instagram" style="transform: matrix(0, 0, 0, 0, 0, 0);"></i></a>
							<a href="https://mobile.twitter.com/akcayaziyor" class="cws_social_link" title="Twitter"><i class="share-icon fa fa-twitter"></i></a>
							<a href="https://m.facebook.com/akca.egitim/?ref=bookmarks" class="cws_social_link" title="Facebook"><i class="share-icon fa fa-facebook"></i></a>
							<a href="https://www.youtube.com/channel/UC9ecVsqgch8jyu5dZizNIeg" class="cws_social_link" title="Dribbble"><i class="share-icon fa fa-youtube"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- / header top panel -->
		<!-- sticky menu -->
		<div class="sticky-wrapper">
			<div class="sticky-menu">
				<div class="grid-row clear-fix">
					<!-- logo -->
					<a href="/" class="logo">
						<img src="../../../front/logo-2.png" alt>
					</a>
					<!-- / logo -->
					<nav class="main-nav">
						<ul class="clear-fix">
							<li>
								<a href="/">Anasayfa</a>
							</li>
							<li>
								<a href="/hakkimizda">Hakkımızda</a>
							</li>
							<li>
								<a href="/setlerimiz"><b>Eğitim Setlerimiz</b></a>
							</li>
							<li>
								<a href="/kitaplar"><b>Kitaplarımız</b></a>
							</li>
							<li>
								<a href="/video"><b>Çözüm Videoları</b></a>
							</li>
							<li>
								<a href="/iletisim">İletişim</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<!-- sticky menu -->
	</header>

	<div id="home" class="page-content padding-none">
		<%- body  %> 
	</div>
	<footer>
		<!-- <div class="grid-row">
			<div class="grid-col-row clear-fix">
				<section class="grid-col grid-col-4 footer-about">
					<h2 class="corner-radius">About Us</h2>
					<div>
						<h3>Sed aliquet dui auctor blandit ipsum tincidunt</h3>
						<p>Quis rhoncus lorem dolor eu sem. Aenean enim risus, convallis id ultrices eget.</p>
					</div>
					<address>
						<p></p>
						<a href="tel:123-123456789" class="phone-number">123-123456789</a>
						<br />
						<a href="mailto:uni@domain.com" class="email">uni@domain.com</a>
						<br />
						<a href="www.sample.html" class="site">www.sample.com</a>
						<br />
						<a href="www.sample.html" class="address">250 Biscayne Blvd. (North) 11st Floor<br/>New World Tower Miami, 33148</a>
					</address>
					<div class="footer-social">
						<a href="#" class="fa fa-twitter"></a>
						<a href="#" class="fa fa-skype"></a>
						<a href="#" class="fa fa-google-plus"></a>
						<a href="#" class="fa fa-rss"></a>
						<a href="#" class="fa fa-youtube"></a>
					</div>
				</section>
				<section class="grid-col grid-col-4 footer-latest">
					<h2 class="corner-radius">Latest courses</h2>
					<article>
						<img src="../../../front/pic/83x83-img-2.jpg" alt>
						<h3>Sed aliquet dui at auctor blandit</h3>
						<div class="course-date">
							<div>10<sup>00</sup></div>
							<div>23.02.15</div>
						</div>
						<p>Sed pharetra lorem ut dolor dignissim,
	sit amet pretium tortor mattis.</p>
					</article>
					<article>
						<img src="../../../front/pic/83x83-img-1.jpg" alt>
						<h3>Sed aliquet dui at auctor blandit</h3>
						<div class="course-date">
							<div>10<sup>00</sup></div>
							<div>23.02.15</div>
						</div>
						<p>Sed pharetra lorem ut dolor dignissim,
	sit amet pretium tortor mattis.</p>
					</article>
				</section>
				<section class="grid-col grid-col-4 footer-contact-form">
					<h2 class="corner-radius">apply for instructor</h2>
					<div class="email_server_responce"></div>
					<form action="http://html.cwsthemes.com/unilearn/php/contacts-process.php" class="contact-form" method="post" novalidate="novalidate">
						<p><span class="your-name"><input type="text" name="name" value="" size="40" placeholder="Name" aria-invalid="false" required></span>
						</p>
						<p><span class="your-email"><input type="text" name="phone" value="" size="40" placeholder="Phone" aria-invalid="false" required></span> </p>
						<p><span class="your-message"><textarea name="message" placeholder="Comments" cols="40" rows="5" aria-invalid="false" required></textarea></span> </p>
						<button type="submit" class="cws-button bt-color-3 border-radius alt icon-right">Submit <i class="fa fa-angle-right"></i></button>
					</form>
				</section>
			</div>
		</div> -->
		<div class="footer-bottom">
			<div class="grid-row clear-fix">
				<div class="copyright">Akca Online<span></span> 2021 . Tüm hakları saklıdır.</div>
				<nav class="footer-nav">
					<ul class="clear-fix">
						<li>
							<a href="#">Gizlilik Politikası ve KVKK Metni</a>
						</li>
						<li>
							<a href="#">Mesafeli Satış Sözleşmesi</a>
						</li>
						<li>
							<a href="#">İletişim</a>
						</li>
						<li>
							<a href="#">Hakkımızda</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</footer>
	<!-- / footer -->
	<script src="../../../front/js/jquery.min.js"></script>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox_packed.js"></script>
	<script type='text/javascript' src='../../../front/js/jquery.validate.min.js'></script>
	<script src="../../../front/js/jquery.form.min.js"></script>
	<script src="../../../front/js/TweenMax.min.js"></script>
	<script src="../../../front/js/main.js"></script>
	<!-- jQuery REVOLUTION Slider  -->
	<script type="text/javascript" src="../../../front/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="../../../front/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
	<script src="../../../front/js/jquery.isotope.min.js"></script>
	<script src="../../../front/js/owl.carousel.min.js"></script>
	<script src="../../../front/js/jquery-ui.min.js"></script>
	<script src="../../../front/js/jflickrfeed.min.js"></script>
	<script src="../../../front/js/jquery.tweet.js"></script>
	<!-- <script type='text/javascript' src='../../../front/tuner/js/colorpicker.js'></script>
	<script type='text/javascript' src='../../../front/tuner/js/scripts.js'></script> -->
	<script src="../../../front/js/jquery.fancybox.pack.js"></script>
	<script src="../../../front/js/jquery.fancybox-media.js"></script>
	<script src="../../../front/js/retina.min.js"></script>
</body>

</html>