<% layout("layout") %>

<div class="page-content woocommerce">
    <div class="container clear-fix">
        <!-- Shop -->
        <div class="title clear-fix">
            <h2 class="title-main">Sepet</h2>
            <a href="/" class="button-back">Geri dön<i class="fa fa-angle-double-right"></i></a>
        </div>
        <div id="content" role="main">
            <form action="#" method="post">
                <table class="shop_table cart">
                    <thead style="background-color: cornsilk;">
                        <tr>
                            <th class="product-thumbnail"><b>Ürünler</b></th>
                            <th class="product-name">&nbsp;</th>
                            <th class="product-price"><b>Fiyat</b></th>
                            <th class="product-remove">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>								
                        <tr class="cart_item" v-for="urun in products">
                            <td class="product-thumbnail">
                                <a href="#">
                                    <img :src="urun.item.kapak" data-at2x="pic/65x65-img-3@2x.jpg" class="attachment-shop_thumbnail wp-post-image" alt="">
                                </a>					
                            </td>
                            <td class="product-name">
                                <a href="#"> <b>{{urun.item.title}}</b> </a>			
                            </td>
                            <td class="product-price">
                                <span class="amount"> {{urun.item.price}} <sup>₺</sup></span>			
                            </td>
                            <td class="product-remove">
                                <a href="#" class="remove" title="Remove this item"></a>	
                            </td>
                        </tr>
                        <tr class="cart_item">
                            <td><b>TOPLAM</b></td>
                            <td></td>
                            <td> <b>{{toplam}}</b> ₺</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="6" class="actions">
                                <div class="coupon">

                                </div>
                                <input type="submit" class="cws-button bt-color-3" name="proceed" value="Ödeme Yap">	
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
            <hr class="divider-color" />
            <!-- <div class="cart-collaterals">	
                <form class="shipping_calculator" action="#" method="post">
                    <h3>Fatura ve Adres Bilgileri</h3>
                    <div class="shipping-calculator-form">
                        <p class="form-row form-row-wide">
                            <select name="calc_shipping_country" id="calc_shipping_country" class="country_to_state" rel="calc_shipping_state">

                            </select>
                        <p class="form-row form-row-wide">
                            <input type="text" class="input-text" value="" placeholder="State / county" name="calc_shipping_state" id="calc_shipping_state">		
                        </p>
                        <p class="form-row form-row-wide">
                            <input type="text" class="input-text" value="" placeholder="Postcode / Zip" name="calc_shipping_postcode" id="calc_shipping_postcode">
                        </p>
                        <p>
                            <button type="submit" name="calc_shipping" value="1" class="cws-button border-radius alt">Update Totals</button>
                        </p>
                    </div>
                </form>
                <div class="cart_totals ">	
                    <h3>Sepet Toplamı </h3>
                    <table>
                        <tbody>
                            <tr class="cart-subtotal">
                                <th>Ürün Toplamı</th>
                                <td><span class="amount"> {{toplam}} ₺</span></td>
                            </tr>
                            <tr class="shipping">
                                <th>Kargo</th>
                                <td>	
                                    10 s₺	
                                </td>
                            </tr>
                            <tr class="order-total">
                                <th>Sepet Toplamı</th>
                                <td><span class="amount"> {{toplam+10}} </span></td>
                            </tr>			
                        </tbody>
                    </table>
                </div>
            </div> -->
        </div>
        <!--Shop -->
    </div>
</div>