<% layout("layout") %>
<style>
    .content-title{
        background-color: steelblue;
        color:white
    }
</style>
<div class="page-content grid-row clear-fix">
    <div class="grid-col-row">
        <main>
            <div class="grid-col grid-col-12">
                <section class="padding-top-none">
                    <h2>SIKÇA SORULAN SORULAR</h2>
                    <!-- accordions -->
                    <div class="accordions">
                        <!-- content-title -->
                        <div class="content-title active">YKS Setleri Ne zamana Kadar Geçerli ?
                        </div>
                        <!--/content-title -->
                        <!-- accordions content -->
                        <div class="content">Video eğitimleri satın aldığınız günden itibaren 1 yıl boyunca erişim sağlayabilirsiniz.
                        </div>
                        <!--/accordions content -->
                        <!-- content-title -->
                        <div class="content-title">Kitaplar tarafıma nasıl ulaşacak ?
                        </div>
                        <!--/content-title -->
                        <!-- accordions content -->
                        <div class="content">Aras kargo vasıtasıyla en geç 3 iş günü içinde adresinize teslim edilecektir.
                        </div>
                        <!--/accordions content -->
                        <!-- content-title -->
                        <div class="content-title">Kitap ve Video Eğitimin Ücreti Ayrı mı ? 
                        </div>
                        <!--/content-title -->
                        <!-- accordions content -->
                        <div class="content">Evet,Yalnızca kitap sipariş etmek isteyenler kitaplarımızı yalnızca eğitim videolarını sipariş etmek isteyenler eğitim videolarını isteyenler de hem video hem eğitimleri sipariş edebilecekler.
                        </div>
                        <!--/accordions content -->
                        <!-- content-title -->
                        <div class="content-title">Video eğitim setlerini alanlara özel içerikler olacak mı ?
                        </div>
                        <!--/content-title -->
                        <!-- accordions content -->
                        <div class="content">Evet,online dersler,beraber deneme çözme etkinlikleri gibi setlerimizi alan öğrencileri özel çalışmalarla sürekli destekleyeceğiz.
                        </div>
                        <!--/accordions content -->
                        <!-- content-title -->
                        <div class="content-title">Videolarda anlamadığım,takıldığım yer olursa ne yapacağım ?
                        </div>
                        <!--/content-title -->
                        <!-- accordions content -->
                        <div class="content">Bizlere 7/24 WP hattımız üzerinden ulaşabilir tüm sorularınızı sorabilirsiniz.
                        </div>
                        <!--/accordions content -->
                        <!-- content-title -->
                        <div class="content-title">Kitaplara video eğitimlerle beraber nasıl çalışacağım ? 
                        </div>
                        <!--/content-title -->
                        <!-- accordions content -->
                        <div class="content">Tüm kitapların nasıl çalışılması gerektiği ve görevlendirmesi ilgili eğitimin ilk videosunda tarafımızca yapılıyor derslerin eğitimlerini izlerken eğitimci tarafından tüm yönlendirme ve yönergeleri yerine getirmeniz yeterli.
                        </div>
                        <!--/accordions content -->
                        <!-- content-title -->
                        <div class="content-title">Videoların izlenme sayısı/sınırı var mı ?
                        </div>
                        <!--/content-title -->
                        <!-- accordions content -->
                        <div class="content">Hayır yok.Eğitiminizi satın aldıktan sonra istediğiniz sayıda tekrar tekrar 1 yıl boyunca izleyebilirsiniz.
                        </div>
                        <!--/accordions content -->
                    </div>
                    <!-- accordions -->
                </section>
            </div>
            <div class="grid-col grid-col-12">
                <section class="padding-top-none">

                </section>
            </main>
        </main>
    </div>
</div>